<table>
  <tr>
    <th>Email Address</th>
    <th>Name</th>
    <th>Total</th>
    <th>From</th>
    <th>To</th>
    <th>CC</th>
    <th>BCC</th>
    <th>Delivered-To</th>
  </tr>
  {% for email in email_addresses %}
  <tr>
    <td>{{ email.email_address }}</td>
    <td>{{ email.name }}</td>
    <td>{{ email.messages() | length }}</td>
    {% for action in header_actions %}
    <td>
      {{ email.messages(action) | length }}
      {% if email.latest_message(action) %}
      ({{ email.latest_message(action).datetime|date }})
      {% endif %}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>