<table>
  <tr>
    <th>Email Address</th>
    <th>Name</th>
    <th>Total</th>
    <th>From</th>
    <th>To</th>
  </tr>
  {% for row in ea %}
  <tr>
    <td>{{ ea.get(row, 'email') }}</td>
    <td>{{ ea.get(row, 'name')|empty }}</td>
    <td>{{ ea.get(row, 'total') }}</td>
    <td>
      {{ ea.get(row, 'email_address') }} 
      {% if ea.get(row, 'from_latest') %}({{ ea.get(row, 'from_latest')|date }}){% endif %}
    </td>
    <td>
      {{ ea.get(row, 'to') }} 
      {% if ea.get(row, 'to_latest') %}({{ ea.get(row, 'to_latest')|date }}){% endif %}
    </td>
  </tr>
  {% endfor %}
</table>