// Text
body {
    line-height: 1.2;
    font-family: $font-family;
    color: $black;
}

h1, h2, p, span, .btn {
    font-family: $font-family;
    font-family: $font-family;
    font-weight: 700;
    color: $black;
}

h1 {
    size: 60px;
}

h2 {
    size: $title-medium;
}

p {
    size: $text;
}

ul {
    padding-left: 18px;
    // Insert plus images
}

.caption {
    size: 11px;
}

.btn {
    border-radius: 0;
    border: none;
    font-size: $text-large;
    font-weight: 700;
    padding-left: 36px;
    padding-right: 36px;
}

.btn-primary {
    background-color: $green;
    color: $white;

    &:hover {
        background-color: $dark-green;
    }
}

// Sections
.section-qa {
    margin-top: 80px;

    .question, .answer {
        font-size: $title-large;
    }

    .question {
        margin-bottom: 40px;
    }

    .answer {
        color: $gray
    }
}