// Colors
$black: #000000;
$green: #51A669;
$dark-green: #346D44;
$gray: #999999;
$light-gray: #F2F2F2;
$white: #FFFFFF;
$red: #FF0000;

// Fonts
$font-family: Helvetica;
$title-large: 48px;
$title-medium: 36px;
$text-large: 18px;
$text: 14px;