<table>
  <tr>
    <th>ID</th>
    <th>Subject</th>
    <th>Date</th>
    <th>From</th>
    <th>To</th>
    <th>CC</th>
    <th>BCC</th>
    <th>Delivered-To</th>
  </tr>
  {% for msg in messages %}
  <tr>
    <td>{{ msg.id }}</td>
    <td>{{ msg.subject }}</td>
    <td>{{ msg.datetime|date }}</td>
    <td>{{ msg.from_email_address.email_address }}</td>
    <td>{{ msg.email_addresses('to')|list_to_string('email_address') }}</td>
    <td>{{ msg.email_addresses('cc')|list_to_string('email_address') }}</td>
    <td>{{ msg.email_addresses('bcc')|list_to_string('email_address') }}</td>
    <td>{{ msg.email_addresses('delivered-to')|list_to_string('email_address') }}</td>
  </tr>
  {% endfor %}
</table>